@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    background: #009688;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
}

.palavra {
    text-transform: uppercase;
    font-size: 2em;
    margin: .1em;
    letter-spacing: .3rem;
}

.escondida {
    border-bottom: 1px solid black;
}

.escondida::after {
    color: transparent;
}

.alfabeto {
    display: grid;
    grid-template-columns: repeat(auto-fit, 2.3rem);
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.alfabeto>button {
    height: 3rem;
    text-transform: uppercase;
    background: lightgray;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.alfabeto>button[disabled] {
    cursor: not-allowed;
}

.selecionado {
    background: gray !important;
    color: white;
}

.pontos {
    color: red;
}

.erros {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    background: gray;
    width: fit-content;
    margin: 1em auto;
    padding: 0 1em;
    border-radius: 5px;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.letra::after {
    content: attr(data-content);
}

.perdeu::after {
    color: red;
}

.letra- {
    width: .5em;
    border: 0;
}

.secao-alfabeto {
    margin-bottom: 3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

header .player_information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header .player_information p {
    margin: 0;
}

header .btn_logout {
    background: transparent;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s color;
}

header .btn_logout:hover {
    color: blue;
    transition: .3s color;
}

header,
main {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

main {
    display: flex;
    gap: 1rem;
    flex: 1;
    align-items: baseline;
    flex-wrap: wrap;
}

main .game,
main .keyboard {
    flex: 1;
    width: 100%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}