# Database
POSTGRES_HOST='EXAMPLE_VALUE'
POSTGRES_USER='EXAMPLE_VALUE'
POSTGRES_PASSWORD='EXAMPLE_VALUE'
POSTGRES_DB='EXAMPLE_VALUE'
POSTGRES_PORT=5432

# Auth
JWT_SECRET='EXAMPLE_VALUE'

# Env
NODE_ENV=development
PUBLIC_URL=http://localhost
