.hints__dashboard-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  details {
    align-items: center;
    background: transparent;
    border: 0;
    display: flex;
    position: relative;

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
    }

    nav {
      display: flex;
      flex-direction: column;
      inset: 100% 0 auto auto;
      position: absolute;

      ul {
        background-color: var(--color-gray-1, gray);
        box-shadow: 0px 3px 5px -1px var(--color-gray-4, gray);

        li {
          list-style: none;

          a {
            box-sizing: border-box;
            color: var(--color-gray-10, gray);
            display: block;
            font: 500 16px sans-serif;
            text-decoration: none;
            transition: background-color 300ms;
            padding: 4px 16px;
            white-space: nowrap;
            width: 100%;

            &:hover {
              background-color: var(--color-gray-4, gray);
              color: var(--color-gray-2, gray);
            }
          }
        }
      }
    }
  }
}
