:root {
  --main-color: #009688;
  --color-gray-1: #ffffff;
  --color-gray-2: #d8d8d8;
  --color-gray-3: #9d9c9c;
  --color-gray-4: #444444;
  --color-gray-10: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
