:root {
  --color-gray-1: #ffffff;
  --color-gray-2: #d8d8d8;
  --color-gray-3: #9d9c9c;
  --color-gray-4: #808080;
  --color-gray-5: #444444;
  --color-gray-10: #000000;
  --main-color: #009688;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
